.max-width{
	max-width:1300px ;
	padding:0 80px;
	margin:auto; 
}

/*Navbar Styling*/
.navbar{
	position: fixed;
	width: 100%;
	padding: 30px 0;
	background:grey;
	font-family: 'Ubuntu',sans-serif;
}
.navbar .max-width
{
display: flex;
align-items: center;
justify-content: space-between;
}

.navbar .logo a{
	color: #fff;
	font-size:35px;
	font-weight: 600;


}
.navbar .logo span{
	color:crimson;
}
.navbar .menu li{
list-style: none;
display: inline-block;
}

.navbar .menu li a{
	color: #fff;
	font-size:18px ;
	font-weight:500;
	margin:25px ;
	transition: color 0.3s ease;

}
.navbar .menu li a:hover{
color:black;
} 
/*Home Styling section*/
section{
	display: flex;
	background: url("C:/Users/KIIT/Desktop/personal portfolio/images/port_pic.jpg") no-repeat center;
	background-size: 100% 200%;  
	
	backface-visibility: all;
	align-content: center;
    font-size: 22px;
	height: 100vh;
	color: #fff;
	
	min-height: 100px;
    font-family: 'Ubuntu',sans-serif;
   
}
.home .max-width
{
margin: auto 0 auto 40px;
}

.home .home-content .text-1{
	font-size: 27px;

}
.home .home-content .text-2{
	font-size: 75px;
	font-weight:500;
	margin-left:-3px ;

	
}
.home .home-content .text-3{
	font-size: 40px;
	margin: 50px 0;
}
.home .home-content .text-3 span
{
	color: crimson;
	font-weight: 500;
}
	